* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

header {
  height: 798px;
  padding-top: 75px;
  padding-left: 139px;
  padding-right: 139px;
  padding-bottom: 151px;
  background-image: url('img/header.jpg');
  background-size: cover;
}

header ul {
  position: absolute;
  left: 378px;
  top: 90px;
}

header li {
  display: inline-block;
  width: 90px;
  text-align: center;
}

.site-menu a{
  font-family: 'Muli', sans-serif;
  color: #707070;
  text-decoration: none;
  font-size: 16px;
}

h1 {
  font-size: 57px;
  font-family: 'Muli' ,sans-serif;
  font-weight: 300;
  color: #255A7E;
  padding: 20px 0;
  margin-bottom: 26px;
  margin-top: 177px;
}

header p {
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #0C3653;
  opacity: 0.71;
  line-height: 1.7;
  margin-bottom: 80px;
}
header li a:hover{
  color: #0A4065;
  font-size: 16px;
  font-weight: 700;
}
.btn {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  border-radius: 5%;
  color: #0B314B;
  opacity: .51;
  text-decoration: none;
  width: 204px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  transition: background-color 0.4s ease;
}
.btn-3 {
  border-radius: 50%;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  color: #0B314B;
  opacity: .51;
  text-decoration: none;
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  transition: background-color 0.4s ease;
}

.btn:hover {
  background-color: #F98169;
  color: #fff;
  font-weight: 700;
  position: relative;
  opacity: 1;
  box-shadow: 0px 15px 29px#F98169;
  border-radius: 5%;
  transition: background-color 0.4s ease;
}
.btn-3:hover{
  border-radius: 50%;
  font-family: 'Muli', sans-serif;
  background-color: #F98169;
  color: #fff;
  font-weight: 700;
  position: relative;
  opacity: 1;
  box-shadow: 0px 15px 29px #F98169;
  transition: background-color 0.4s ease;
}

.logo img {
  transition: transform 0.5s ease-in-out;
}

.logo img:hover {
  transition: transform 0.5s ease-in-out;
  transform: rotate(5deg);
}

#package {
  background-image: url(/img/main.jpg);
  height: 1995px;
}

.img-1 {
  float:left;
}

.wrap-1{
  padding-top: 205px;
  height: 785px;
}

#package h2, #menu h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #0C3653;
  font-size: 36px;
  font-weight: 700;
}

.description {
  font-family: 'Muli' , sans-serif;
  color: #8B8E8F;
  font-size: 16px;
  font-weight: 600;
  padding: 55px 5px;
}

.btn-4, .btn-5, .btn-7{
  border: 2px solid #0B314B;
}

.btn-4:hover, .btn-5:hover, .btn-7:hover{
  border: 2px solid transparent;
}

.part-2{
  height: 572px;
  width: 1192px;
  margin-left: 139px;
  position: relative;
}

.wrap-2{
  float: left;
  width: 545px;
  margin-right: 35px;
}

.part-2 img {
  position: absolute;
}

.img-2{
  left: 752px;
}

.img-3 {
  left: 993px;
  top: -124px;
}

.img-4 {
  left: 681px;
  top: 203px;
}

.img-5{
  left: 1003px;
  top: 153px;
}

.part-3 {
  position: relative;
  border-radius: 2%;
  width: 1063px;
  height: 457px;
  background-image:
          linear-gradient(to top, rgba(10,64,101,0.7), rgba(10,64,101,0.7)),      
           url(img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  z-index: 10;
}

.part-3 h3{
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-top: 85px;
  padding-left: auto;
  padding-right: auto;
}

.part-3 p{
  color: #fff;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 33px;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  line-height: 1.6;
}

.btn-6 {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-left: 496px;
  margin-top: 50px;
  color: black;
  background-color: #fff;
  mix-blend-mode: screen;
  opacity: 1;
  transition: background-color 0.4s ease;
}

.btn-6:hover{
  border-radius: 50%;
  font-family: 'Muli', sans-serif;
  color: #fff;
  background-color: black;
  font-weight: 700;
  opacity: 1;
  box-shadow: none;
  border: 1px solid #fff;
  transition: background-color 0.4s ease;
  mix-blend-mode: screen;
}
.explanation {
   height: 24px;
   width: 202px;
   display: block;
   font-family: 'Muli', sans-serif;
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   letter-spacing: 5px;
   text-align: center;
   margin-top: 50px;
   position: absolute;
   left: 435px;
   bottom: 30px;
   text-shadow: 1px 1px #fff;
}

#menu {
   position: relative;
   background-color: #fff;
   padding-top: 80px;
}

#menu h2{
   text-align: center;
}

.menu-paragraph{
   text-align: center;
   color: #AEB2B4;
   font-family: 'Muli', sans-serif;
   font-size: 16px;
   font-weight: 500;
   padding-top: 30px;
   padding-bottom: 30px;
}

.dish-menu{
   width: 1170px;
   height: 850px;
   position: relative;
   padding: 30px 70px;
   margin-left: auto;
   margin-right: auto;
}

.item {
   display: inline-block;
   width: 322px;
   height: 363px;
   margin: 24px 14px;
   padding: 2px;
   box-shadow: 0px 10px 15px -8px gray;
   border-radius: 4%;
   transition: transform .8s;
}

.item p {
  text-align: left;
  color: #AEB2B4;
  font-size: 14px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-top: 14px;
}

.item-1, .item-4 {
   margin-left: 63px;
}

.item h5 {
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font: 700px;
  color: #0C3653;
  padding: 17px 20px;
}

.item h3 {
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  color: #F98169;
  font-weight: 700;
  float: right;
  padding: 10px 26px;
}

#menu img {
   height: 225px;
   width: 322px;
}

#menu a {
  display: block;
  margin: 5px auto;
}

.item:hover {
  transform: translate(-10px, 10px);
  transition: transform .8s;
  cursor: pointer;
}

.recipes{
  width: 100%;
  padding-top: 96px;
  padding-bottom: 50px;
  background-color: #fefefe;
}

.recipes h2{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
  color: #0C3653;
  font-weight: 700;
}

.rcp{
  display: inline-block;
  box-sizing: border-box;
  width: 350px;
  height: 350px;
  position: relative;
  left: 310px;
  margin-top: 40px;
  margin-left: -30px;
  transition: 0.4s all;
}

.rcp h5, .rcp p, .rcp a{
  position: absolute;
  display: block;
}

.rcp h5{
  bottom: 92px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 700;
  margin-left:29px;
  color: transparent;
  transition: 0.4s color;
}

.rcp p {
  bottom: 29px;
  margin-left: 29px;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  color: transparent;
  transition: 0.4s color;
}

.rcp a{
  width: 60px;
  height: 40px;
  right: 0;
  bottom: 0;
  background-color: transparent;
  font-size: 25px;
  color: transparent;
  transition: 0.4s color, 0.4s background-color;
}

.rcp a i {
  position: absolute;
  width: 40px;
  height: 25px;
  text-align: center;
  left: 50%;
  margin-left: -20px;
  bottom: 50%;
  margin-bottom: -12.5px;
}

.rcp:hover{
  transform-origin: left bottom;
  transform: scale(1.1);
  z-index: 100;
  transition: .7s all;
}

.rcp:hover h5, .rcp:hover p{
  color: #fff;
  transition: 1.5s color;
}

.rcp:hover a{
  background-color: #FF6B4D;
  color: #fff;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transition: 1.5s color, 1.5s background-color;
}

.rcp::before{
  background-color: rgba(#fff, .0);
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 250ms background-color;
}

.rcp:hover::before{
  background-color: rgba(11,49,75, .66);
  transition: 250ms background-color;
  border-radius: 3%;
}

.form-field{
  position: relative;
  widows: 1366px;
  height: 542px;
  background-color: #fff;
}

.form {
  position: absolute;
  width: 1055px;
  height: 338px;
  box-shadow: 0px 10px 50px -20px #000;
  background-color: #fff;
  left: 50%;
  margin-left: -516px;
  top: 50%;
  margin-top: -169px;
  border-radius: 15px;
  color: #0C3653;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
  font-weight: 700;
  z-index: 2;
}

form {
  height: inherit;
}

.form label {
  position: absolute;
  top: 53px;
  left: 50%;
  margin-left: -299px;
}

#email {
  position: relative;
  display: inline-block;
  margin-top: 159px;
  margin-left: 160px;
  height: 93px;
  width: 488px;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-family: 'Muli', sans-serif;
  font-size: 24px;
  font-weight: regular;
  color: black;
  background-color: #E8E8E8;
  text-align: center;
}

#email:focus{
  outline: none;
}

#email::placeholder {
  color: #8B8E8F;
}
.input-wrap {
  position: relative;
  display: inline-block;
}
#submit-btn {
  height: 93px;
  width: 263px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  margin-left: -9px;
  background-color: #ff7e5f;
  font-family: 'Muli', sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  transition: background-color .4s;
}

#submit-btn:hover {
  transition: background-color .4s;
  background-color: #feb47b;
}

.input-wrap:after {
  content:'';
  background-image: url('/img/icon.png');
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  left: -70px;
  top: 5px;
}

.formimg-1{
  position: absolute;
  left: 377px;
  top: 37px;
}

.formimg-2{
  z-index: 1;
  position: absolute;
  right: 356px;
  bottom: 37px;
}

footer {
  width: 100%;
  height: 330px;
  background-color: #fff;
  position: relative;
}

footer a{
  display: inline-block;
}

#footer-nav {
  width: 468px;
  height: auto;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
}

#footer-nav li {
  display: inline-block;
  width: 90px;
  text-align: center;
}

#footer-nav ul {
  width: 100%;
  height: 100%;
}

.footer-menu a {
  font-family: 'Muli', sans-serif;
  color: #707070;
  text-decoration: none;
  font-size: 16px;
}

#footer-nav li a:hover {
  color: #0A4065;
  font-size: 16px;
  font-weight: 700;
}

.footer {
  position: relative;
  top: 74px;
  left: 143px;
  width: 611px;
  height: 89px;
  border-top: 1px solid rgba(112, 112, 112, .18);
  border-bottom: 1px solid rgba(112, 112, 112, .18);
}

.footer .logo {
  padding: 17px 40px;
}

.footer-img {
  position: absolute;
  width: 801px;
  height: 784px;
  background-image: url('img/footer-img.jpg');
  background-position: -52px -7px;
  background-repeat: no-repeat;
  bottom: 0px;
  right: 0px;
}

.icons {
  position: absolute;
  left: 168px;
  top: 188px;
}

.icons a {
  font-size: 20px;
  color: #CAD2D6;
  padding: 0 14px;
}

.icons a:hover{
  color: #0B314B;
}

.copyright {
  position: absolute;
  left: 150px;
  bottom: 35px;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  color: #ABADAE;
}
